        body{
            
            background-color:#1d1d1d;
            color: #fff;
            /* overflow-x: hidden; */
            
        }

        .navbar{
            position:fixed;   
            height: 60px;
            left: 0;
            right: 0;

            /*  nefdsfds*/

            margin-right: auto;
            margin-left: auto;
            width: 100%;
            top:0;
            
            background: #1d1d1d;
            
            color: #919191;
            border-bottom: 1px solid #2f2f2f;
            display: flex;
            align-items: center;
            
            z-index: 11;
            
            
        }
        .navbar-logo{

            margin-top: 0;
            margin-left: 5%;
        }

        .header-slogan{
        margin-left: 30px;
        /* margin-top: 7px; */
        font-size: 1.2em;
        font-family:'Roboto', Arial, Helvetica, sans-serif;
        letter-spacing: 0.3px;

        }

        .search{
            
            
        }

        .searchterm{
        width: 250px;
        height: 35px;
        font-size: .85em;
        color: #919191;
        background:url(icon/search4.svg) no-repeat 4px 8px ;
        
        border:2px solid #919191;
        border-radius: 20px;
        color: white;
        align-items: center;
        
        

        }

        .wrap{
            display: inherit;
            margin-left: 20%;   
        }

        ul{
            display: inline-block;
        }
        li{
            display: inline-block;
            text-decoration: none;
        }
        .a{
            text-decoration: none;
            color:#919191;
            padding-top: 15px;
            font-family: 'Roboto', sans-serif;
            margin-right: 20px;
        }
        .a2{
            margin-right: 0px;
            text-decoration: none;
            color:white;
            font-family: 'Roboto', sans-serif;
        }
        /* 
        ================================================================Main content
        */
        
        .background-image{
            background: no-repeat url("images/background.jpg") ;
            background-size: cover;
            z-index: 0;
            
        }

        .background-overlay, .background-image{
            height: 580px;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            
            
            
        
            
            
        }

        .background-overlay {

            z-index: 1;
            background: linear-gradient(to bottom,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
            
        }

        .main-content{
            position: absolute;
            
            top:60px;
            left: 0;
            right: 0;
            
            box-sizing: border-box;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
            z-index: 3;
            
            margin: 0;
            padding: 0;

            

        }
        .home-content{
            /* padding-top: 40px;
            padding-bottom: 30px;

            */
            


        }

        .line1{
            font-size: 2.75em;
            font-weight: 700;
            text-shadow: 0 2px 2px rgba(0,0,0,.4);
        }
        .para{
            font-size: 0.95em;
            color:#ccc;
            width: 650px;
            display: inline-block;
            box-sizing: border-box;
        text-align: center;
        margin-top: 0;
        }
        .star{
            color:#6ac045;
            font-weight: bold;
            font-size: 1.3em;
        }

        .populer{
            display: inline-block;
            font-size: 1.15em;
            font-weight: 800;
            border-bottom: 1px solid rgba(255,255,255,.2);
            width: 1170px;
        }




        .card{
            
            border: 5px solid white;
            
        }

        .card-bottom{
            text-align: left;
            font-family: 'Roboto', sans-serif;

        }
        .card-title{
            font-size: .95em;

        }

        .card-year{
            color:#919191;
            font-size:.85em;
        }


        .box{
            display: inline-block;
            position: relative;
            margin-top: 25px;
            margin-left: 35px;
            margin-right: 35px;
        }
        .box{
            margin-left: 35px;
            margin-right: 35px;
        }

        .block2{
            display: inline-block   ;
            
            padding:25px 0;
            background:#171717;
            margin-left: 0px;
            margin-right: 0px;
            background-size: cover;
            margin-top: 25px;

        }
     
      

        .latest-movies{
            font-size: 1.15em;
            font-family: 'Roboto', sans-serif;
            text-align: left;
            padding: 0 0;    
            margin-left: 10%;

        }

        .footer{
            margin-top: 0px;
            border-top: 1px solid #2f2f2f;  
            margin-bottom: 3px;
            padding-bottom: 0px;
        }
        .footerlink{
            font-family: 'Roboto', sans-serif;
            
        }

        a{
            text-decoration: none;
            color:grey;
            font-size: 13px;

        }
        .rating{
            
        }
        .star{
            color:#6ac045;
            /* margin-bottom: 20px; */
            
            
            
        }
       
        .button1{
            background: #6ac045;
            color: white;
            font-size: 16px;
            width: 130px;
            padding:8px 10px;
            border-radius: 3px;
            box-sizing: border-box;
            margin:0 auto;
        }
        .figure{
            position: absolute;
            background:linear-gradient(to bottom,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
            border:solid greenyellow 5px;
            text-align: center;
            
            
            height: 315px;
            width: 210px;
            top:0;
            left: 0;
            right: 0;
            display: none;
            padding: 0;
            margin:0;

        
            /* overflow: hidden; */

            /* text */

            font-size: 25px;

            
            font-weight: 700;
            color:white;
            line-height: 0.8    ;
        }

        .card:hover + figure{
            display: inline-block;
            
           
        }

        .inside{
            text-align: center;
            color:white;
            margin-top: 30px;
            margin-bottom: 30px;
            line-height: 20px;
            
            display: block;
            position: relative;
            justify-content: space-evenly;
            
        }

        .r1{
            margin-bottom: 30px;
        }
        .r2{
            line-height: 0px;
            
        }
        .r3{
            margin-top: 50px;
        }
    

         